* {
    background-color: #AD8B73;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: #CEAB93;
    text-align: center;
}

p, li {
    font-size: large;
}

ul > li {
    background-color: #CEAB93;
}

ol > li {
    background-color: #E3CAA5;
}